<div class="pp_block">
  <div class="pp_content">
    <div class="close_pp" id="close_pp"><img src="/images/icons/basil_cross.svg" alt=""></div>
    <div class="pp_img">
      <img src="/images/no-photo.png" id="photo" alt="">
    </div>
    <div class="pp_about_product">
      <h4 class="pp_name_product" id="name">Название товара</h4>
      <p id="description">Описание</p>
      <ul class="about_product_list">
        <li><span class="info">Производитель</span> <span id="manufacturer" >Производитель</span></li>
        <li><span class="info">Цвет</span> <span id="color">Цвет</span></li>
        <li><span class="info">Объём</span> <span id="volume" >Объём л.</span></li>
      </ul>
      <ul class="about_product_list">
        <li><span class="info">Артикул</span> <span id="vendorCode">Артикул</span></li>
        <li><span class="info">Категория</span> <span id="categories">Категория</span></li>
        <li>
          <span class="info">Поделиться</span>
          <div class="social_share">
            <a href="#" id="facebook-link" target="_blank"><img src="/images/icons/black-facebook.svg" alt=""></a>
            <a href="#" id="telegram-link" target="_blank"><img src="/images/icons/black-telegram.svg" alt=""></a>
            <a href="#" id="whatsapp-link" target="_blank"><img src="/images/icons/wa-black.svg" alt=""></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mobile_catalog_btn">
  <button id="btn_open_catalog" class="btn_open-catalog">ВЫБРАТЬ КАТЕГОРИЮ</button>
</div>
<section class="section_no_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="accordion side_catalog">
          <div class="sub-accordion accordion_scroll">
            <a class="accordion_link" href="/catalog">Все </a>
            <% categories.forEach(category => { %>
              <div class="sub-accordion-item">
                <div class="sub-accordion-header"><%= category.name %> <img class="sub_arrow_accordion"
                    src="/images/icons/arrowDown.svg" alt="">
                </div>
                <div class="sub-accordion-content">
                  <% category.children.forEach(child => { %>
                    <a class="accordion_link" href="/catalog?categoryId=<%= child.id %>"><%= child.name %></a>
                  <% }) %>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <%
          const pageRange = calculatePageRange(currentPage, totalPages);
        %>
        <div class="row">
          <% products.forEach((product, index) => { %>
            <div class="col-lg-4">
              <div class="card_block">
                <div class="card_product">
                  <img src="<%= product.photo %>" alt="">
                  <div class="card_product_bg">
                    <a href="javascript:void(0);" data-id="<%= product.id%>" onclick="openProductModal(this)" class="link_product">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
          <div class="col-lg-12">
            <div class="pagination">
              <ul class="pagination_list">
                <% pageRange.forEach(page => { %>
                  <li><a href="/catalog?page=<%=page%><%=categoryId !== null ? `&categoryId=${categoryId}` : ''%>" class="pagination_item <%= page === currentPage ? 'active' : '' %>"><%= page %></a></li>
                <% }) %>
                <% if(totalPages > 4){ %>
                  <li><a href="" class="dot"><span class="dots"></span></a></li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section_news">
  <div class="container">
    <div class="row">
      <div class="head_section">
        <h3 class="title_section">Новости</h3>
        <a href="/news" class="section_link">Читать все новости</a>
      </div>
      <% news.forEach(n=> { %>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="cart_news">
            <div class="cart_news_img">
              <img src="<%= n.previewPhoto %>" alt="">
            </div>
            <div class="cart_news_content">
              <div class="cart_news_date">
                <img class="calendar_icon" src="/images/icons/calendar.svg" alt="">
                <span>
                  <%= formatDate(n.updatedAt) %>
                </span>
              </div>
              <div class="cart_news_content_text">
                <h3>
                  <%= n.title %>
                </h3>
                <p>
                  <%= truncateText(extractTextFromHTML(n.content), 110) %>
                </p>
              </div>
              <a href="/news/<%= news.id %>" class="cart_news_link">
                ПОДРОБНЕЕ
              </a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>
<script>
  window.onload = function() {
    const urlParams = new URLSearchParams(window.location.search);
    const productId = urlParams.get('productId');

    if (productId) {
      openProductModal(productId);
    }
  };
</script>