<section class="section_no_bg">
	<div class="container">
		<div class="row mrg-40">
			<div class="head_section">
				<h3 class="title_section">ЗДЕСЬ ВЫ МОЖЕТЕ НАЙТИ НАШУ ПРОДУКЦИЮ</h3>
			</div>
			<div class="col-lg-4">
				<div class="contact_address_item">
					<a href="geo:42.844208,74.548061">ул. Ахунбаева 319</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="contact_address_item">
					<a href="geo:42.946233,74.619666">р-к “Дордой”, ряд -2, конт. 77</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="contact_address_item">
					<a href="geo:42.887827,74.667332">с. Лебединовка, пр. Победы 298</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="contact_address_item">
					<a href="geo:42.847156,74.615731">ул. Жукеева-Пудовкина 53/3</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="contact_address_item">
					<a href="geo:42.854807,74.671434">ул. Анкара 38</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="contact_address_item">
					<a href="geo:42.872766,74.432308">пр. Фрунзе 195/3</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="contact_address_item">
					<a href="geo:42.894771,74.61181">ул. Абдрахманова 341</a>
				</div>
			</div>
		</div>
		<div class="row mrg-40">
			<div class="col-lg-4">
				<ul class="contacts_list">
					<li>
						<a class="contact_item" href="tel:+996227000047" target="_blank"><img src="/images/icons/black-phone.svg"
								alt="">+996 (227) 000 047</a>
					</li>
					<li>
						<a class="contact_item" href="mailto:info@mobiplus.kg" target="_blank"><img
								src="/images/icons/black-email.svg" alt="">INFO@MOBIPLUS.KG</a>
					</li>
					<li>
						<a class="contact_item" href="https://wa.me/+996227000047" target="_blank"><img
								src="/images/icons/wa-black.svg" alt=""> +996 (227) 000 047</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4">
				<ul class="contacts_list">
					<li>
						<a class="contact_item" href="https://t.me/+996227000047" target="_blank"><img
								src="/images/icons/black-telegram.svg" alt=""> +996 (227) 000 047</a>
					</li>
					<li>
						<a class="contact_item" href="https://www.instagram.com/avtokraska.kg/" target="_blank"><img
								src="/images/icons/black-instagram.svg" alt="">AVTOKRASKA</a>
					</li>
				</ul>

			</div>
			<div class="col-lg-4">
				<ul class="contacts_list">
					<li>
						<a class="contact_item" href="#" target="_blank"><img src="/images/icons/black-facebook.svg"
								alt="">AVTOKRASKA</a>
					</li>
					<li>
						<a class="contact_item" href="#" target="_blank"><img src="/images/icons/black-tiktok.svg"
								alt="">AVTOKRASKA</a>
					</li>
				</ul>

			</div>
		</div>
		<div class="head_section">
			<h3 class="title_section">НА КАРТЕ</h3>
		</div>
	</div>
	<script type="text/javascript" charset="utf-8" async
		src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8b17705bb5c791f39a45e780a0d00b40446b932927f40a0852e6f0b5aa56a358&amp;width=100%25&amp;height=676&amp;lang=ru_RU&amp;scroll=true"></script>
</section>

<section class="section_news">
	<div class="container">
		<div class="row">
			<div class="head_section">
				<h3 class="title_section">Новости</h3>
				<a href="/news" class="section_link">Читать все новости</a>
			</div>
			<% news.forEach(n=> { %>
				<div class="col-6 col-md-6 col-lg-3">
					<div class="cart_news">
						<div class="cart_news_img">
							<img src="<%= n.previewPhoto %>" alt="">
						</div>
						<div class="cart_news_content">
							<div class="cart_news_date">
								<img class="calendar_icon" src="/images/icons/calendar.svg" alt="">
								<span>
									<%= formatDate(n.updatedAt) %>
								</span>
							</div>
							<div class="cart_news_content_text">
								<h3>
									<%= n.title %>
								</h3>
								<p>
									<%= truncateText(extractTextFromHTML(n.content), 110) %>
								</p>
							</div>
							<a href="/news/<%= n.id %>" class="cart_news_link">
								ПОДРОБНЕЕ
							</a>
						</div>
					</div>
				</div>
			<% }) %>
		</div>
	</div>
</section>