<section class="section_no_bg">
  <div class="container">
    <div class="row">
      <%
        const pageRange = calculatePageRange(currentPage, totalPages);
      %>
      <% news.forEach((item, index) => { %>
        <% let classes = ''; %>
        <% if([0, 1, 4, 5, 10, 11].includes(index)){ classes = 'col-6 col-md-6 col-lg-4'; }%>
        <% if([2, 6, 9].includes(index)){ classes = 'col-12 col-md-12 col-lg-4'; } %>
        <% if([3].includes(index)){ classes = 'col-12 col-md-12 col-lg-12'; }%>
        <div class="<%= classes %>">
          <div class="cart_news">
            <div class="cart_news_img">
              <img src="<%= item.previewPhoto %>" alt="">
            </div>
            <div class="cart_news_content">
              <div class="cart_news_date">
                <img class="calendar_icon" src="/images/icons/calendar.svg" alt="">
                <span><%= formatDate(item.updatedAt) %></span>
              </div>
              <div class="cart_news_content_text">
                <h3><%= item.title %></h3>
                <p><%= truncateText(extractTextFromHTML(item.content), 110) %></p>
              </div>
              <a href="/news/<%= item.id %>" class="cart_news_link">
                ПОДРОБНЕЕ
              </a>
            </div>
          </div>
        </div>
      <% }) %>
      <div class="col-lg-12">
        <div class="pagination">
          <ul class="pagination_list">
            <% pageRange.forEach(page => { %>
              <li><a href="/news?page=<%=page%>" class="pagination_item <%= page === currentPage ? 'active' : '' %>"><%= page %></a></li>
            <% }) %>
            <% if(totalPages > 4){ %>
              <li><a href="" class="dot"><span class="dots"></span></a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>