<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header">
      <div style="display: flex; align-items: center; justify-content: space-between;">
				<span><i class="fa fa-table"></i> Товары</span>
				<div>
					<a class="btn btn-primary" href="/admin/products/add" role="button">Добавить</a>
				</div>
			</div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Название</th>
              <th>Артикул</th>
              <th>Объем</th>
              <th>Производитель</th>
              <th>Категории</th>
              <th>Цвет</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Название</th>
              <th>Артикул</th>
              <th>Объем</th>
              <th>Производитель</th>
              <th>Категории</th>
              <th>Цвет</th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            <% products.forEach(product => { %>
              <tr>
                <td><%= product.name %></td>
                <td><%= product.vendorCode %></td>
                <td><%= product.volume %></td>
                <td><%= product.manufacturer %></td>
                <td><% product.categories.map(category => { %> 
                  <span class="tag tag-info"><%= category.name %></span>
                  <% }) %>
                </td>
                <td><%= product.color %></td>
                <td><%= product.topSellers ? 'Топ продаж' : '' %></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn btn-link" id="productsDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="productsDropdownMenu">
                      <a class="dropdown-item" href="/admin/products/edit/<%= product.id %>">Редактировать</a>
                      <a class="dropdown-item" href="/admin/products/delete/<%= product.id %>">Удалить</a>
                    </div>
                  </div>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>